body{
    font-family: 'Raleway';
    background-color: #000000;
}

.navbar img{
    width: 2rem;
}

.navbar{
    background-color: transparent;
}

p, h1, h5{
    color: #ffffff;
}

.div col{
    width: 16rem;
}