body{
    font-family: 'Raleway';
    background-color: #000000;
}

html {
    scroll-behavior: smooth;
}

.navbar img{
    width: 2rem;
}

.navbar{
    background-color: transparent;
}

p, h1, h5{
    color: #ffffff;
}

.div col{
    width: 16rem;
}

/* Carousel */
.carousel-height {
    height: 860px;
}

@media (max-width: 768px) {
    /* Header */
    .carousel-height {
      height: 400px;
    }
}